<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="douglas.com.br.judfood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".view.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.prato.PratoActivity" />
        <activity android:name=".view.login.LoginActivity" />
        <activity android:name=".view.cadastro.CadastroActivity" />
        <activity android:name=".view.cadastro.CadastroSucessoActivity" />
        <activity android:name=".view.avaliacao.AvaliacaoActivity" />
        <activity android:name=".view.favorito.FavoritoActivity" />
        <activity android:name=".view.restaurante.RestauranteActivity" />
        <activity android:name=".view.promocao.PromocaoActivity" />
        <activity android:name=".view.prato.PratoIntegraActivity" />
        <activity android:name=".ComentarioActivity"></activity>
    </application>

</manifest>